#Banner Server configuration file
#Options can be specified with key=value
#Comments begin with # and end at the end of the line

db_url=jdbc:mysql://mysql:3306/testbanner
db_user=root
db_pass=root
port=8435
numservers=1
hit_log_host=localhost #the address of the hit logger
hit_log_port=6666 #the port of the hit logger
log_host=localhost #the address of the adblaster log server
log_port=5556 #the port of the adblaster log server

#debug options: if any of these are omitted they default to false
#tick=true
#connect=true
#get=true
getlog=true #this turns on logging to the adblaster log server
#getfail=true
#click=true
#timeupdates=true
dailyrestart=true #this causes the banner server to restart at 6am
#passback=true #this turns on passback tracking for invalid passbacks
#development=true
		
